<mat-toolbar>

  <div class="tool-left">
    <img class="logo" src="/assets/images/logo.svg" alt="logo">
    <button class="tool-button"> Collections </button>
    <button class="tool-button">  Men </button>
    <button class="tool-button">  Women </button>
    <button class="tool-button">  About </button>
    <button class="tool-button">  Contact </button>
  </div>



  <div class="tool-right">
    <app-cart></app-cart>

    <img class="avatar" src="/assets/images/image-avatar.png" alt="user avatar">
  </div>

</mat-toolbar>
